<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid"> 
        <div id="menuAdd"> 
    <h3>Add new members</h3>
    <div class="alert alert-success" ng-show="successAlert">Succesfully added new member</div>
    <div class="alert alert-success" ng-show="successEditAlert">Succesfully updated member</div>
    <div class="alert alert-danger" ng-show="dangerAlert">Please fill the form</div>
    <form name="myForm">
        <div class="form-group">
            <label for="member_name">Member Name:</label>
            <div ng-show="myForm.member_name.$invalid" class="alert alert-danger">Please fill the form...</div>
            <input type="text" name="member_name" id="member_name" placeholder="First name..." class="form-control" ng-model="member[checkUrl].member_name" ng-minlength="3">
            <input type="hidden" name="member_id" id="member_id" class="form-control" ng-model="member[checkUrl].member_id">
        </div>
        <div class="form-group">
            <label for="member_surname">Member surname:</label>
            <div ng-show="myForm.member_surname.$invalid" class="=alert alert-danger">Please fill the form...</div>
            <input type="text" name="member_surname" id="member_surname" placeholder="Last name..." class="form-control" ng-model="member[checkUrl].member_surname" ng-minlength="3">
        </div>
        <div class="form-group">
            <label for="member_email">Member Email:</label>
            <div ng-show="myForm.member_email.$invalid" class="alert alert-danger">Please fill the form...</div>
           <input type="text" name="member_email" id="member_email" placeholder="Email..." class="form-control" ng-model="member[checkUrl].member_email" ng-minlength="3">
        </div>
        <div class="form-group">
            <label for="member_phonenumber">Member Phonenumber:</label>
            <input type="text" name="member_phonenumber" id="member_phonenumber" placeholder="Phonenumber..." class="form-control" ng-model="member[checkUrl].member_phonenumber">
        </div>
        <div class="form-group">
            <label for="member_hometown">Member Hometown</label>
            <input type="text" name="member_hometown" id="member_hometown" ng-model="member[checkUrl].member_hometown" placeholder="Hometown..." class="form-control">
        </div>

        <div class="form-group">
            <button ng-show="checkUrl===undefined" class="btn btn-primary" ng-click="(myForm.member_name.$valid && myForm.member_surname.$valid && myForm.member_email.$valid)   ?
                                            function_details_member(member[checkUrl].member_name,member[checkUrl].member_surname,member[checkUrl].member_email,member[checkUrl].member_phonenumber,member[checkUrl].member_hometown,member[checkUrl].member_id, 'insert') :
                                            function_error()">SAVE</button>
        </div>
        <div class="form-group">
            <button ng-show="checkUrl!==undefined" class="btn btn-primary" ng-click="(myForm.member_name.$valid && myForm.member_surname.$valid && myForm.member_email.$valid)   ?
            function_details_member(member[checkUrl].member_name,member[checkUrl].member_surname,member[checkUrl].member_email,member[checkUrl].member_phonenumber,member[checkUrl].member_hometown,member[checkUrl].member_id, 'update') :
            function_error()">EDIT</button>
        </div>
    </form>
    </div>
    </div>
</body>
</html>