<div class="container-fluid table-responsive">
<div id="menu">
<h3>Submenu</h3>

<table class="table">
    <thead>
        <tr>
            <th>Product Type</th>
            <th>Category Name</th>
            <th>Search:<select class="form-control" name="searchByCategory" id="searchByCategory" ng-model="searchByCategory">
                <option value="">All Categories</option>
                <option  ng-repeat="categories in categories" value="{{categories.category_name}}">
                    {{categories.category_name}}
                </option>
            </select></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="submenu in submenu | filter:{category_name:searchByCategory}"> <!--da se dodadat filtri-->
            <td>{{submenu.product_type}}</td>
            <td>{{submenu.category_name}}</td>
            <td><a href="#!addsubmenu/{{$index}}"><i class="fa fa-edit" title="edit"></i></a></td>
            <td><button type="button" title="izbrisi?" class="btn btn-danger" ng-click="function_getId($index);function_deleteRowSubmenu(submenu.product_id)"
              data-toggle="modal" data-target="#myModal"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header bg-danger">
          <h4 class="modal-title">DELETE PRODUCT </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div class="alert alert-info" ng-show="infoAlert">
            You cant delete this!
          </div>
          Dali ste sigurni deka sakate da izbrisete modelot {{submenu[getId].product_type}}?
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button ng-show="!infoAlert" type="button" class="btn btn-danger" ng-click="function_deleteRow('submenu',submenu[getId].product_id)">DELETE</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>
        </div>
  
      </div>
    </div>
  </div>
</div>
</div>