<div class="container-fluid" id="proverkaVtora">
    <div class="header">
      <h1>CLIENT REVIEWS</h1>
    </div>
    <div class="row">         
      <div class="col-sm-4" ng-repeat="members in member">
              
        <div class="card pCard" style="margin: 10px; background-color: rgba(57, 145, 114, 0.801);">
            <div class="card-body text-center">
              <h4 class="card-title">{{members.member_name}} {{members.member_surname}} {{members.member_hometown}}</h4>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam quisquam maxime voluptas et dolorum eius similique reiciendis unde accusamus asperiores!</p>
        </div>
    </div>
    </div>
    </div>
</div>